version: '3.8'
services:
  postgres:
    image: postgres:12
    container_name: postgres
    ports:
      - "5432:5432"
    # volumes:
    #   - postgres:/var/lib/
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    # networks:
    #   - hasura-network